[submodule "hdr-imaging"]
	path = hdr-imaging
	url = https://github.com/deepankarc/hdr-imaging.git
[submodule "wand"]
	path = wand
	url = https://github.com/emcconville/wand.git
[submodule "PiDNG"]
	path = PiDNG
	url = https://github.com/wgprojects/PiDNG.git
